/* misc global styles */
app, button {
	background: #111;
	color: #bbb;
	font-family: 'Source Code Pro', monospace;
}

app {
	display: block;
}

::selection {
	background: rgba(78,177,234,.99);
	color: #111;
	opacity: 1;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-weight: 400;

	font-size: 14px;
	line-height: 15px;
}

h1 {
	font-weight: 300;
}

/* app loading state */
app {
	transition: opacity .12s;
}

app.loading {
	opacity: 0;
}

app:not(.loading) {
	opacity: 1;
}

/* top-level window elements: structure */
app {
	overflow: hidden;
	height: 100vh;
}

app > .titlebar {
	height: 23px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	/* needs to be relative or absolute to form a stacking context:
	 * titlebar needs to cover the toolbar when it is hidden */
	position: relative;
	z-index: 20;
}

app > .toolbar {
	z-index: 10;
}

app > .document {
	height: calc(100% - 23px);

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
}

app > .document > .content {
	height: 100%;
	overflow: scroll;

	/* textarea needs these */
	width: 100%;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	resize: none;
	border: none;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #333;
}

::-webkit-scrollbar-thumb {
/*	width: 6px;
	height: 6px; */
    border-radius: 5px;
	background-color: #666;
}

/* titlebar styles */
app > .titlebar {
	height: 23px;
	background: linear-gradient(#e8e8e8, #e0e0e0);
	border-bottom: 1px solid #666;
	box-shadow: 0px 0px 2px black;
	text-align: center;

	-webkit-app-region: drag;
}

app > .titlebar > .window-title {
	font-size: 12px;
	line-height: 23px;
	color: #111;
}

/* toolbar styles */
app > .toolbar {
	position: absolute;
	right: 0;

	height: 31px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(80, 80, 80, 0.5);

	width: 100%;
	padding-right: 11px;
	text-align: right;
}

app > .toolbar > * {
	margin: 5px;
	display: inline-block;
}

/* button styles */
button {
	height: 20px;
	font-size: 13px;
	line-height: 14px;
	background: #222;
	color: #999;
	border: 1px solid #666;
	border-radius: 2px;
	-webkit-user-select: none;
}

button:hover {
	color: #ddd;
	border-color: #888;
}

button:active {
	color: #fff;
	border-color: #aaa;
}

button:active {
	outline: none;
}

button:focus {
	outline: none;
}

/* toolbar transition */
app > .toolbar {
	margin-top: -29px;
	transition: margin-top 0.5s;
}

app.toolbar-active > .toolbar {
	margin-top: 0;
}

/* transition of content when toolbar is hiding */
app > .document > .content {
	transition: padding-top 0.5s;
}

app.toolbar-active > .document > .content {
	padding-top: 29px;
}

/* inactive state (when someone else takes the OS level window focus) */
app.inactive > .titlebar {
	background: linear-gradient(#f8f8f8, #efefef);
}

app.inactive > .titlebar > .window-title {
	color: #888;
}

app > .document {
	transition: opacity 0.1s;
}

app.inactive > .document {
	opacity: 0.5;
}

/* editor styles */
.document > .content {
	white-space: pre;
}

.document > .content:focus {
	outline: none;
}

